doctype html.no-js(lang='')
head
	include /templates/head.jade
	link(rel='stylesheet', href='css/type.css')
body
	
	section.singleCol
		header
			h1 Titre de page h1
			h2 Sous-titre h2
			h3 Sous-sous titre h3
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto, officiis natus odio. Illum adipisci nihil temporibus soluta, obcaecati, sint dolor assumenda ? Totam quae numquam voluptate cupiditate soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto, officiis natus odio. Illum adipisci perspiciatis nihil temporibus soluta, obcaecati, sint dolor assumenda iste? Totam quae numquam voluptate cupiditate soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto, officiis natus odio. Illum adipisci perspiciatis nihil temporibus soluta, obcaecati, sint dolor assumenda iste? Voluptate cupiditate soluta!
	section.doubleCol
		header
			h1 Titre de page h1
			h2 Sous-titre h2
			h3 Sous-sous titre h3
		p Lorem ipsum dolor sit amet, consect. Incidunt architecto, officiis natus odio. Illum adipisci nihil temporibus soluta, obcaecati, sint dolor assumenda ? Totam quae numquam voluptate cupiditate soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto, officiis natus odio. Illum adipisci perspiciatis nihil temporibus soluta, obcaecati, sint dolor assumenda iste? Totam quae numquam voluptate cupiditate soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto, officiis natus odio. Illum adipisci perspiciatis nihil temporibus soluta, obcaecati, sint dolor assumenda iste? Voluptate cupiditate soluta!

	section
		header
			h1 Titre de page h1
			h2 Sous-titre h2
			h3 Sous-sous titre h3
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt architecto, officiis natus odio. Illum adipisci perspiciatis nihil temporibus soluta, obcaecati, sint dolor assumenda iste? Totam quae numquam voluptate cupiditate soluta!


	include /templates/footer.jade
